@import "compass/css3";

// TYPOGRAPHY

$display-type: "apertura", Helvetica, sans-serif;


// COLORS

$pink: #da6178;
$yellow: #fbd15b;

$textcolor: #5d5d5d;
$lightgray: #c2c2c2;


// DIMENSIONS

$mastheadHeight: 430px;


// MIXINS

@mixin tinabeans-gradient {
	background: #da6178;
	background: -moz-linear-gradient(-45deg, $pink 0%, $yellow 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$pink), color-stop(100%,$yellow));
	background: -webkit-linear-gradient(-45deg, $pink 0%,$yellow 100%);
	background: -o-linear-gradient(-45deg, $pink 0%,$yellow 100%);
	background: -ms-linear-gradient(-45deg, $pink 0%,$yellow 100%);
	background: linear-gradient(135deg, $pink 0%,$yellow 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='#$yellow',GradientType=1 );
}

// BASE STYLES

body {
	background-attachment: fixed;
	font-family: $display-type;
	font-size: 16px;
	color: $textcolor;
	
	&.no-scroll {
		height: 100%;
		overflow: hidden;
	}
}

a {
	font-weight: bold;
	text-decoration: none;
}

h1, h2, h3, h4 {
	margin: 0;
}

// ICONS

.icon {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(../images/icons.png) no-repeat;
	text-indent: -999em;
	vertical-align: middle;
	margin:0px 5px;
	
	&.heart {
		background-position: 3px 0px;
	}
	
	&.twitter {
		background-position: -52px 0px;
	}
	
	&.email {
		background-position: -84px 0px;
	}
}

// LAYOUT

#overlay {
	background: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index:1338;
	visibility: hidden;
	opacity: 0;
	@include transition-property(opacity, visibility);
	@include transition-duration(.5s);
	
	&.active {
		visibility:visible;
		@include transition-property(opacity);
		@include transition-duration(.5s);
		opacity: 1;
	}
	
	iframe {
		width: 100%;
		height: 100%;
		overflow: auto;
		border: 0;
	}
}

// HEADER

#masthead {
	@include box-sizing(border-box);
	@include tinabeans-gradient;
	text-align: center;
	color: #fff;
	position: relative;
	height: $mastheadHeight;
	width: 100%;
	position: fixed;
	z-index: 3;
	padding: 200px 0px 120px 0px;
	
	.logo {
		position: fixed;
		left: 50%;
		margin-left:-45px;
		top: 70px;
		margin-top: -9px;
	}
	
	h1, h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.15em;
	}
	
	h2 {
		color: rgba(255,255,255,.5);
	}
	
	nav a {
		color: #fff;
	}
	
	.nav_container {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 20px;
		text-align: left;
		@include box-sizing(border-box);
	}
	
	.masthead_content {
		position: relative;
	}
}

.content {
	padding-top: $mastheadHeight;
}

#tags {
	
	.active .icon.heart {
		background-position: -25px 0px;
	}
	
	.icon {
		margin-right: 2px;
		margin-top:2px;
	}
	
	a {
		display: inline-block;
		margin-right: 10px;
	}
}

#elsewhere {
	position: absolute;
	right: 20px;
	top: 20px;
}

// INDEX PAGE

#posts {
	background: #fff;

	.post {
		position: relative;
		height: 200px;
		overflow: hidden;
	}
	
	.post-url {
		display: block;
		color:$textcolor;
		
		&:hover {
			background: lighten($lightgray, 20%);
		}
	}
}

.post {

	@include box-sizing(border-box);
	padding: 115px 0px 0px 0px;
	
	&.active {
		background: white;
		overflow: auto;
	}

	.title {
		text-align: center;
		width:100%;
		position: absolute;
		top: 60px;
		font-size:2.5em;
	}
	
	.date {
		text-align: center;
		margin-bottom: 55px;
		color: $lightgray;
		font-size:1.5em;
		font-weight: 500;
	}
}



// SINGLE POST

#closeButton {
	position: fixed;
	right: 20px;
	top: 20px;
	display: none;
	z-index: 1339;
	cursor: pointer;
}

